# Lab Report 3: How to Load, Convert, and Write JSON Files in Python
## Name: Afnan Alabdulwahab
----------------------------------------------------------------------------------------------------------------------------------------------------

## Problem 0
Import the following libraries:

In [72]:
import numpy as np
import pandas as pd
import requests
import json
import sys
sys.tracebacklimit = 0 # turn off the error tracebacks

## Problem 1

### Why does a CSV file usually take less memory than a JSON formatted file for the same data?
The way the data is structured in a JSON formatted file casues it to be larger than a CSV file for the same data. In a CSV file, the data is represented in a tabular format where each line is a row and the columns are separated by a delimiter (a comma in most cases). On the other hand, a JSON file for the same dataset uses additional characters such as `{}`, `[]` and `""` to structure the data. In addition, each datapoint includes a key name or metadata which increase the file size compartively to CSV that uses one line for column names, espacially for larger datasets or deeply nested structures. So, the lack of nested structure and key-value pairs reduces the size for a CSV file.

### Under what conditions could a JSON file be smaller in memory than a CSV file for the same data?
* **If the data is complex and nested**, using the JSON format can be more efficient because it takes advantage of objects, arrays, and mixed data types. This can be more compact compared to flattening nested data into a 2D tabular form, which requires repeating fields, therefore increasing the file size.
* **In handling of missing data**. The missing data is simply not included in a JSON format. In a CSV file, the missing data still allocate space when using 'NaN' or even if the cell is left empty.
* **JSON uses objects and arrays** which can save memory spcae if repetition is needed in the data. In a CSV file, the repeated data is plain text and will consuem more memory space.

## Problem 2

First, I will get the user agent, using 'https://httpbin.org', to include in the `headers` parameter for requesting webpages.

In [75]:
url = 'https://httpbin.org/user-agent'
r = requests.get(url)
r

In [76]:
myjson = json.loads(r.text)
useragent = myjson['user-agent']
headers = {'User-Agent': useragent,
          'From': 'aa7dd@virginia.edu'}
headers

{'User-Agent': 'python-requests/2.32.3', 'From': 'aa7dd@virginia.edu'}

Examining the data in my web-browser I can see the data *contains nesting* (geolocation), but *no metadata*. In that case the best strategy is to:
1. use `requests.get()` to download the raw JSON data from the JSON url provided and I will check if the request was successful.

In [77]:
url = 'https://data.nasa.gov/resource/y77d-th95.json'
meteorites = requests.get(url, headers=headers)
meteorites

2. use `json.loads()` on the `.text` attribute of the output `meteorites` to register the data is a list in Python.

In [78]:
meteorites_json = json.loads(meteorites.text)
type(meteorites_json)

list

3. use `pd.json_normalize()` on the list `meteorites_json` to store every feature in the data in a separate column, regradless of the depth of nesting of features. `pd.json_normalize()` produces a `pandas` dataframe.

In [79]:
meteorites_df = pd.json_normalize(meteorites_json)
meteorites_df

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation.type,geolocation.coordinates,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4
0,Aachen,1,Valid,L5,21,Fell,1880-01-01T00:00:00.000,50.775000,6.083330,Point,"[6.08333, 50.775]",NaN,NaN
1,Aarhus,2,Valid,H6,720,Fell,1951-01-01T00:00:00.000,56.183330,10.233330,Point,"[10.23333, 56.18333]",NaN,NaN
2,Abee,6,Valid,EH4,107000,Fell,1952-01-01T00:00:00.000,54.216670,-113.000000,Point,"[-113, 54.21667]",NaN,NaN
3,Acapulco,10,Valid,Acapulcoite,1914,Fell,1976-01-01T00:00:00.000,16.883330,-99.900000,Point,"[-99.9, 16.88333]",NaN,NaN
4,Achiras,370,Valid,L6,780,Fell,1902-01-01T00:00:00.000,-33.166670,-64.950000,Point,"[-64.95, -33.16667]",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Tirupati,24009,Valid,H6,230,Fell,1934-01-01T00:00:00.000,13.633330,79.416670,Point,"[79.41667, 13.63333]",NaN,NaN
996,Tissint,54823,Valid,Martian (shergottite),7000,Fell,2011-01-01T00:00:00.000,29.481950,-7.611230,Point,"[-7.61123, 29.48195]",NaN,NaN
997,Tjabe,24011,Valid,H6,20000,Fell,1869-01-01T00:00:00.000,-7.083330,111.533330,Point,"[111.53333, -7.08333]",NaN,NaN
998,Tjerebon,24012,Valid,L5,16500,Fell,1922-01-01T00:00:00.000,-6.666670,106.583330,Point,"[106.58333, -6.66667]",NaN,NaN
999,Tomakovka,24019,Valid,LL6,600,Fell,1905-01-01T00:00:00.000,47.850000,34.766670,Point,"[34.76667, 47.85]",NaN,NaN

## Problem 3

First, I will use `requests.get()` to download the raw JSON data from the JSON url provided and I will check if the request was successful.

In [80]:
url = 'https://www.reddit.com/r/popular/top.json'
reddit = requests.get(url, headers=headers)
reddit

Next, I will use `json.loads()` on the `.text` attribute of the output `reddit` to register the data as a list/dict in Python.

In [81]:
reddit_json = json.loads(reddit.text)
type(reddit_json)

dict

Examining the data in my web-browser, I can see the data contains *metadata* and *nesting*. The top-level has two keys: “kind” and “data”, and the data live in “data”. Within this branch, there are four more metadata branches, “after”, “dist”, “modhash”, and “geo_filter”, and the data I need exist within “children”. So I can use the keys ['data']['children'] in the loaded dictionary `reddit_json` to access the data I need for looping:

In [82]:
reddit_data = reddit_json['data']['children']
type(reddit_data)

list

Now I can loop through `reddit_data` and extract data for `subreddit`, `title`, `ups`, and `created_utc` for each record and save it in a dataframe using `pd.DataFrame()` and using a `for` loop within it.

(Note: there is additional metadata within each record structure 'kind' and the data I need is within 'data' so I'll use `x['data']` to access the data I need in my loop)

In [89]:
reddit_df = pd.DataFrame([x['data']['subreddit'], x['data']['title'],\
                          x['data']['ups'], x['data']['created_utc']]
                  for x in reddit_data)
reddit_df.columns = ['subreddit', 'title', 'ups', 'created_utc']
reddit_df

,subreddit,title,ups,created_utc
0,clevercomebacks,My thumb is the size of a nuke explosion,64050,1.719624e+09
1,interestingasfuck,How a breeding bull is greeted by pasture full...,53027,1.719630e+09
2,TikTokCringe,Oh how times have changed,54014,1.719630e+09
3,Damnthatsinteresting,Grab your iced tea and Raise a toast!,51499,1.719615e+09
4,pics,Matthew McConaughey &amp; Woody Harrelson padd...,45773,1.719609e+09
5,MadeMeSmile,A love-hate-love relationship,48017,1.719670e+09
6,MadeMeSmile,She’s a real friend,41208,1.719628e+09
7,BlackPeopleTwitter,Post-debate Waffle House,39654,1.719623e+09
8,OldSchoolCool,I used to live in a NYC loft in the 1970s: A 5...,38616,1.719615e+09
9,meme,what is that,36692,1.719626e+09
10,cats,"Me and my girlfriend had a fight, and this is ...",36947,1.719642e+09
11,rareinsults,Well then RIP,41930,1.719672e+09
12,nextfuckinglevel,He walks into class last every day to bring th...,35336,1.719619e+09
13,clevercomebacks,Capitalist housing plan...,37591,1.719663e+09
14,Unexpected,he lost 10 years of life with that scare,33611,1.719630e+09
15,Eldenring,No one is safe from the last boss,34077,1.719623e+09
16,memes,We illy live in a society,33597,1.719648e+09
17,comics,"Yes, father [OC]",31309,1.719657e+09
18,facepalm,Electric,30254,1.719633e+09
19,meirl,meirl,29964,1.719633e+09
20,blackmagicfuckery,99% of people get this wrong!,29933,1.719633e+09
21,politics,We Just Witnessed the Biggest Supreme Court Po...,29332,1.719614e+09
22,BeAmazed,8 year old cancer patient who has spent half h...,29293,1.719669e+09
23,MadeMeSmile,playing hands-in with dogs!!,27124,1.719637e+09
24,me_irl,me irl,25754,1.719624e+09

## Problem 4

### Part a

Using `requests.get()` to download the raw JSON data from the JSON url provided and I will check if the request was successful.

In [84]:
# part a
url = 'https://stats.nba.com/js/data/sportvu/2015/shootingTeamData.json'
nba = requests.get(url, headers=headers)
nba

Next, I will use `json.loads()` on the `.text` attribute of the output `nba` to register the data in Python's memory.

In [85]:
nba_json = json.loads(nba.text)
type(nba_json)

dict

### Part b

### The path that leads to the team-by-team data
Through the top-level key: '**resultSets**', which is a list containing a singe dictionary, the dictionary has a '**rowSet**' list containg the team-by-team data.

### Part c

In [66]:
nba_df = pd.json_normalize(nba_json, record_path = ["resultSets", "rowSet"])
nba_df

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
0,1610612744,Golden State,Warriors,GSW,,82,48.7,114.9,14.9,0.498,...,0.478,21.2,42.5,0.497,2.3,6.3,0.363,10.8,25.3,0.429
1,1610612759,San Antonio,Spurs,SAS,,82,48.3,103.5,14.8,0.481,...,0.506,18.3,39.8,0.460,0.9,2.6,0.341,6.1,15.9,0.381
2,1610612739,Cleveland,Cavaliers,CLE,,82,48.7,104.3,16.9,0.481,...,0.473,18.2,40.7,0.447,1.7,5.7,0.299,9.0,23.9,0.378
3,1610612746,Los Angeles,Clippers,LAC,,82,48.6,104.5,15.0,0.497,...,0.480,18.9,42.0,0.450,2.0,6.0,0.334,7.7,20.8,0.373
4,1610612760,Oklahoma City,Thunder,OKC,,82,48.6,110.2,16.1,0.480,...,0.497,17.5,38.7,0.451,1.6,5.1,0.321,6.6,18.6,0.356
5,1610612737,Atlanta,Hawks,ATL,,82,48.6,102.8,19.0,0.463,...,0.483,19.4,44.6,0.435,1.0,3.1,0.311,9.0,25.3,0.355
6,1610612745,Houston,Rockets,HOU,,82,48.6,106.5,17.2,0.433,...,0.472,15.5,36.4,0.426,2.3,7.4,0.318,8.4,23.5,0.355
7,1610612757,Portland,Trail Blazers,POR,,82,48.5,105.1,17.5,0.441,...,0.447,18.0,39.8,0.453,1.7,5.9,0.295,8.8,22.6,0.389
8,1610612758,Sacramento,Kings,SAC,,81,48.4,106.7,18.7,0.452,...,0.473,18.1,39.7,0.454,0.9,3.1,0.276,7.2,19.4,0.372
9,1610612764,Washington,Wizards,WAS,,82,48.5,104.1,15.4,0.480,...,0.483,19.5,44.3,0.439,0.7,2.7,0.254,8.0,21.5,0.371
10,1610612748,Miami,Heat,MIA,,82,48.6,100.0,17.9,0.488,...,0.490,15.7,35.2,0.445,0.8,2.9,0.282,5.3,15.1,0.347
11,1610612761,Toronto,Raptors,TOR,,81,48.5,102.7,23.0,0.462,...,0.461,14.1,32.4,0.436,1.8,5.6,0.327,6.8,17.7,0.384
12,1610612742,Dallas,Mavericks,DAL,,82,49.0,102.3,18.2,0.473,...,0.464,17.5,41.4,0.423,1.4,5.3,0.273,8.4,23.3,0.360
13,1610612766,Charlotte,Hornets,CHA,,82,48.6,103.4,16.8,0.459,...,0.449,17.0,39.8,0.427,1.8,6.0,0.297,8.9,23.4,0.379
14,1610612762,Utah,Jazz,UTA,,82,49.0,97.7,18.1,0.445,...,0.468,15.9,37.2,0.426,1.4,4.3,0.318,7.1,19.5,0.363
15,1610612753,Orlando,Magic,ORL,,81,48.7,102.0,18.0,0.456,...,0.475,18.5,42.6,0.435,0.7,2.7,0.249,7.1,19.5,0.363
16,1610612749,Milwaukee,Bucks,MIL,,82,48.7,99.0,17.4,0.463,...,0.477,13.2,29.4,0.448,1.1,4.0,0.270,4.3,11.6,0.370
17,1610612740,New Orleans,Pelicans,NOP,,82,48.5,102.7,19.9,0.458,...,0.460,17.9,41.1,0.434,0.6,2.6,0.247,7.9,21.2,0.374
18,1610612750,Minnesota,Timberwolves,MIN,,82,48.6,102.4,15.1,0.464,...,0.471,16.1,35.4,0.455,0.7,2.6,0.272,4.8,13.8,0.350
19,1610612754,Indiana,Pacers,IND,,82,48.8,102.2,13.7,0.453,...,0.465,16.4,38.1,0.431,1.7,5.7,0.299,6.4,17.4,0.368
20,1610612751,Brooklyn,Nets,BKN,,82,48.4,98.6,14.4,0.457,...,0.464,15.8,36.1,0.438,1.0,3.3,0.303,5.5,15.1,0.363
21,1610612765,Detroit,Pistons,DET,,82,48.7,102.0,17.5,0.464,...,0.452,15.7,37.2,0.422,0.9,4.0,0.227,8.1,22.2,0.366
22,1610612743,Denver,Nuggets,DEN,,82,48.6,101.9,15.9,0.406,...,0.448,16.4,37.8,0.434,1.1,4.3,0.264,6.9,19.5,0.354
23,1610612738,Boston,Celtics,BOS,,81,48.5,105.6,18.9,0.453,...,0.451,16.9,39.9,0.424,1.6,5.7,0.274,7.1,20.3,0.350
24,1610612741,Chicago,Bulls,CHI,,82,48.9,101.6,18.1,0.458,...,0.442,17.0,38.5,0.441,1.3,3.9,0.332,6.6,17.5,0.380
25,1610612755,Philadelphia,76ers,PHI,,82,48.6,97.4,19.7,0.445,...,0.449,15.3,37.4,0.409,1.6,5.7,0.281,7.7,21.8,0.354
26,1610612756,Phoenix,Suns,PHX,,82,48.4,100.9,15.6,0.440,...,0.447,16.6,39.5,0.421,1.4,5.0,0.288,7.6,20.8,0.363
27,1610612752,New York,Knicks,NYK,,82,48.5,98.4,10.4,0.447,...,0.439,15.9,36.4,0.438,1.5,4.9,0.305,5.9,16.6,0.358
28,1610612763,Memphis,Grizzlies,MEM,,82,48.6,99.1,16.4,0.440,...,0.459,16.1,38.5,0.418,0.7,2.5,0.278,5.4,16.0,0.340
29,1610612747,Los Angeles,Lakers,LAL,,82,48.3,97.3,15.6,0.441,...,0.420,14.0,34.5,0.406,2.2,7.9,0.278,5.6,16.7,0.335

### Part d

The path that leads to the headers is through the top-level key: '**resultSets**', which is a list containing a single dictionary, the dictionary contains the '**headers**' list.

In [86]:
column_names = nba_json["resultSets"][0]["headers"]
column_names

['TEAM_ID',
 'TEAM_CITY',
 'TEAM_NAME',
 'TEAM_ABBREVIATION',
 'TEAM_CODE',
 'GP',
 'MIN',
 'PTS',
 'PTS_DRIVE',
 'FGP_DRIVE',
 'PTS_CLOSE',
 'FGP_CLOSE',
 'PTS_CATCH_SHOOT',
 'FGP_CATCH_SHOOT',
 'PTS_PULL_UP',
 'FGP_PULL_UP',
 'FGA_DRIVE',
 'FGA_CLOSE',
 'FGA_CATCH_SHOOT',
 'FGA_PULL_UP',
 'EFG_PCT',
 'CFGM',
 'CFGA',
 'CFGP',
 'UFGM',
 'UFGA',
 'UFGP',
 'CFG3M',
 'CFG3A',
 'CFG3P',
 'UFG3M',
 'UFG3A',
 'UFG3P']

In [87]:
nba_df.columns = column_names
nba_df

,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,GP,MIN,PTS,PTS_DRIVE,FGP_DRIVE,...,CFGP,UFGM,UFGA,UFGP,CFG3M,CFG3A,CFG3P,UFG3M,UFG3A,UFG3P
0,1610612744,Golden State,Warriors,GSW,,82,48.7,114.9,14.9,0.498,...,0.478,21.2,42.5,0.497,2.3,6.3,0.363,10.8,25.3,0.429
1,1610612759,San Antonio,Spurs,SAS,,82,48.3,103.5,14.8,0.481,...,0.506,18.3,39.8,0.460,0.9,2.6,0.341,6.1,15.9,0.381
2,1610612739,Cleveland,Cavaliers,CLE,,82,48.7,104.3,16.9,0.481,...,0.473,18.2,40.7,0.447,1.7,5.7,0.299,9.0,23.9,0.378
3,1610612746,Los Angeles,Clippers,LAC,,82,48.6,104.5,15.0,0.497,...,0.480,18.9,42.0,0.450,2.0,6.0,0.334,7.7,20.8,0.373
4,1610612760,Oklahoma City,Thunder,OKC,,82,48.6,110.2,16.1,0.480,...,0.497,17.5,38.7,0.451,1.6,5.1,0.321,6.6,18.6,0.356
5,1610612737,Atlanta,Hawks,ATL,,82,48.6,102.8,19.0,0.463,...,0.483,19.4,44.6,0.435,1.0,3.1,0.311,9.0,25.3,0.355
6,1610612745,Houston,Rockets,HOU,,82,48.6,106.5,17.2,0.433,...,0.472,15.5,36.4,0.426,2.3,7.4,0.318,8.4,23.5,0.355
7,1610612757,Portland,Trail Blazers,POR,,82,48.5,105.1,17.5,0.441,...,0.447,18.0,39.8,0.453,1.7,5.9,0.295,8.8,22.6,0.389
8,1610612758,Sacramento,Kings,SAC,,81,48.4,106.7,18.7,0.452,...,0.473,18.1,39.7,0.454,0.9,3.1,0.276,7.2,19.4,0.372
9,1610612764,Washington,Wizards,WAS,,82,48.5,104.1,15.4,0.480,...,0.483,19.5,44.3,0.439,0.7,2.7,0.254,8.0,21.5,0.371
10,1610612748,Miami,Heat,MIA,,82,48.6,100.0,17.9,0.488,...,0.490,15.7,35.2,0.445,0.8,2.9,0.282,5.3,15.1,0.347
11,1610612761,Toronto,Raptors,TOR,,81,48.5,102.7,23.0,0.462,...,0.461,14.1,32.4,0.436,1.8,5.6,0.327,6.8,17.7,0.384
12,1610612742,Dallas,Mavericks,DAL,,82,49.0,102.3,18.2,0.473,...,0.464,17.5,41.4,0.423,1.4,5.3,0.273,8.4,23.3,0.360
13,1610612766,Charlotte,Hornets,CHA,,82,48.6,103.4,16.8,0.459,...,0.449,17.0,39.8,0.427,1.8,6.0,0.297,8.9,23.4,0.379
14,1610612762,Utah,Jazz,UTA,,82,49.0,97.7,18.1,0.445,...,0.468,15.9,37.2,0.426,1.4,4.3,0.318,7.1,19.5,0.363
15,1610612753,Orlando,Magic,ORL,,81,48.7,102.0,18.0,0.456,...,0.475,18.5,42.6,0.435,0.7,2.7,0.249,7.1,19.5,0.363
16,1610612749,Milwaukee,Bucks,MIL,,82,48.7,99.0,17.4,0.463,...,0.477,13.2,29.4,0.448,1.1,4.0,0.270,4.3,11.6,0.370
17,1610612740,New Orleans,Pelicans,NOP,,82,48.5,102.7,19.9,0.458,...,0.460,17.9,41.1,0.434,0.6,2.6,0.247,7.9,21.2,0.374
18,1610612750,Minnesota,Timberwolves,MIN,,82,48.6,102.4,15.1,0.464,...,0.471,16.1,35.4,0.455,0.7,2.6,0.272,4.8,13.8,0.350
19,1610612754,Indiana,Pacers,IND,,82,48.8,102.2,13.7,0.453,...,0.465,16.4,38.1,0.431,1.7,5.7,0.299,6.4,17.4,0.368
20,1610612751,Brooklyn,Nets,BKN,,82,48.4,98.6,14.4,0.457,...,0.464,15.8,36.1,0.438,1.0,3.3,0.303,5.5,15.1,0.363
21,1610612765,Detroit,Pistons,DET,,82,48.7,102.0,17.5,0.464,...,0.452,15.7,37.2,0.422,0.9,4.0,0.227,8.1,22.2,0.366
22,1610612743,Denver,Nuggets,DEN,,82,48.6,101.9,15.9,0.406,...,0.448,16.4,37.8,0.434,1.1,4.3,0.264,6.9,19.5,0.354
23,1610612738,Boston,Celtics,BOS,,81,48.5,105.6,18.9,0.453,...,0.451,16.9,39.9,0.424,1.6,5.7,0.274,7.1,20.3,0.350
24,1610612741,Chicago,Bulls,CHI,,82,48.9,101.6,18.1,0.458,...,0.442,17.0,38.5,0.441,1.3,3.9,0.332,6.6,17.5,0.380
25,1610612755,Philadelphia,76ers,PHI,,82,48.6,97.4,19.7,0.445,...,0.449,15.3,37.4,0.409,1.6,5.7,0.281,7.7,21.8,0.354
26,1610612756,Phoenix,Suns,PHX,,82,48.4,100.9,15.6,0.440,...,0.447,16.6,39.5,0.421,1.4,5.0,0.288,7.6,20.8,0.363
27,1610612752,New York,Knicks,NYK,,82,48.5,98.4,10.4,0.447,...,0.439,15.9,36.4,0.438,1.5,4.9,0.305,5.9,16.6,0.358
28,1610612763,Memphis,Grizzlies,MEM,,82,48.6,99.1,16.4,0.440,...,0.459,16.1,38.5,0.418,0.7,2.5,0.278,5.4,16.0,0.340
29,1610612747,Los Angeles,Lakers,LAL,,82,48.3,97.3,15.6,0.441,...,0.420,14.0,34.5,0.406,2.2,7.9,0.278,5.6,16.7,0.335

## Problem 5

To save the NBA dataframe into a JSON formatted file I can use `.to_json()` and to organize the data as dictionary with three lists: columns lists the column names, index lists the row names, and data is a list-of-lists of data point I acan used the `orient="split"` parameter.

In [88]:
nba_df.to_json("nbajson.json", orient="split")