# Lab Report 2: How to Load CSV, ASCII, and other data into Python
## DS 6001: Practice and Application of Data Science

### Name: Afnan Alabdulwahab
----------------------------------------------------------------------------------------------------------------------------------------------------

In [114]:
column_names = ["Country", "Happiness score", "Whisker-high", "Whisker-low", 
  "Dystopia (1.92) + residual", "Explained by: GDP per capita", 
  "Explained by: Social support", "Explained by: Healthy life expectancy", 
  "Explained by: Freedom to make life choices", "Explained by: Generosity", 
  "Explained by: Perceptions of corruption" ]

If you loaded the data correctly, it will look like `data_clean.csv`, which is also attached to this lab.

## Problem 0

Imported the Python 'os' library to be able to perform common operating systems tasks such as changing the current directory. Imported the numpy and pandas packages as well.

In [115]:
import os
import numpy as np
import pandas as pd

In [116]:
oldpath = os.getcwd()
os.chdir('lab data')

In [120]:
data_clean = pd.read_csv('data_clean.csv')
data_clean.info(verbose=True)
data_clean.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,5.375878,5.478654,5.273090,1.922891,0.887417,1.216571,0.598026,0.456981,0.181571,0.112474
std,1.119507,1.107522,1.132544,0.513760,0.382573,0.300380,0.247925,0.162750,0.098805,0.096362
min,2.905000,3.074000,2.735000,0.292000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.453750,4.589750,4.344750,1.654250,0.616250,1.076750,0.422250,0.358250,0.109500,0.051000
50%,5.378000,5.477500,5.284500,1.908500,0.949500,1.261500,0.644000,0.494000,0.174000,0.082000
75%,6.168500,6.260000,6.051250,2.270250,1.197750,1.463000,0.777250,0.580000,0.242250,0.139000
max,7.632000,7.695000,7.569000,2.961000,1.649000,1.644000,1.030000,0.724000,0.598000,0.457000

In [121]:
data_clean

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,...,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.632,7.695,7.569,2.595,...,1.592,0.874,0.681,0.192,0.393
1,Norway,7.594,7.657,7.530,2.383,...,1.582,0.861,0.686,0.286,0.340
2,Denmark,7.555,7.623,7.487,2.370,...,1.590,0.868,0.683,0.284,0.408
3,Iceland,7.495,7.593,7.398,2.426,...,1.644,0.914,0.677,0.353,0.138
4,Switzerland,7.487,7.570,7.405,2.320,...,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...,...,...
151,Yemen,3.355,3.448,3.262,1.106,...,1.073,0.343,0.244,0.083,0.064
152,Tanzania,3.303,3.414,3.193,0.628,...,0.991,0.381,0.481,0.270,0.097
153,South Sudan,3.254,3.385,3.123,1.691,...,0.608,0.177,0.112,0.224,0.106
154,Central African Republic,3.083,3.227,2.939,2.487,...,0.000,0.010,0.305,0.218,0.038
155,Burundi,2.905,3.074,2.735,1.752,...,0.627,0.145,0.065,0.149,0.076

## Problem 1

In [122]:
file_path = 'data1.csv'
data1_file = open(file_path, 'r')
first_lines = data1_file.read(1000)
print(first_lines)
data1_file.close()

"Source: The World Happiness Report (2018), The Sustainable Development Solutions Network (SDSN)",,,,,,,,,,
URL: http://worldhappiness.report/ed/2018,,,,,,,,,,
Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
Finland,7.632,7.695,7.569,2.595,1.305,1.592,0.874,0.681,0.192,0.393
Norway,7.594,7.657,7.530,2.383,1.456,1.582,0.861,0.686,0.286,0.340
Denmark,7.555,7.623,7.487,2.370,1.351,1.590,0.868,0.683,0.284,0.408
Iceland,7.495,7.593,7.398,2.426,1.343,1.644,0.914,0.677,0.353,0.138
Switzerland,7.487,7.570,7.405,2.320,1.420,1.549,0.927,0.660,0.256,0.357
Netherlands,7.441,7.498,7.384,2.448,1.361,1.488,0.878,0.638,0.333,0.295
Canada,7.328,7.421,7.236,2.306,1.330,1.532,0.896,0.653,0.321,0.291
New Zealand,7.324,7.401,7.247,2.156,1.268,1.601,0.876,0.669,0.365,0.389
Sweden

I used `open()` to open `data1.csv` and read then display the first few lines without trying to load the data frame. After examining the output, I can see that the first 2 lines contain source and URL information. Attempting to load the dat file as it is will cause a parsing error since the column names appear in the third line.

To solve this problem, I will use the `header` parameter with a value of 2 to tell `pd.read_csv()` how many rows of the data file are taken up by unwanted header.

In [75]:
data1 = pd.read_csv('data1.csv', header = 2)
data1

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,...,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.632,7.695,7.569,2.595,...,1.592,0.874,0.681,0.192,0.393
1,Norway,7.594,7.657,7.530,2.383,...,1.582,0.861,0.686,0.286,0.340
2,Denmark,7.555,7.623,7.487,2.370,...,1.590,0.868,0.683,0.284,0.408
3,Iceland,7.495,7.593,7.398,2.426,...,1.644,0.914,0.677,0.353,0.138
4,Switzerland,7.487,7.570,7.405,2.320,...,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...,...,...
151,Yemen,3.355,3.448,3.262,1.106,...,1.073,0.343,0.244,0.083,0.064
152,Tanzania,3.303,3.414,3.193,0.628,...,0.991,0.381,0.481,0.270,0.097
153,South Sudan,3.254,3.385,3.123,1.691,...,0.608,0.177,0.112,0.224,0.106
154,Central African Republic,3.083,3.227,2.939,2.487,...,0.000,0.010,0.305,0.218,0.038
155,Burundi,2.905,3.074,2.735,1.752,...,0.627,0.145,0.065,0.149,0.076

In [125]:
data_clean.info(verbose=True)
data1.info(verbose=True)
data1.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,5.375878,5.478654,5.273090,1.922891,0.887417,1.216571,0.598026,0.456981,0.181571,0.112474
std,1.119507,1.107522,1.132544,0.513760,0.382573,0.300380,0.247925,0.162750,0.098805,0.096362
min,2.905000,3.074000,2.735000,0.292000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.453750,4.589750,4.344750,1.654250,0.616250,1.076750,0.422250,0.358250,0.109500,0.051000
50%,5.378000,5.477500,5.284500,1.908500,0.949500,1.261500,0.644000,0.494000,0.174000,0.082000
75%,6.168500,6.260000,6.051250,2.270250,1.197750,1.463000,0.777250,0.580000,0.242250,0.139000
max,7.632000,7.695000,7.569000,2.961000,1.649000,1.644000,1.030000,0.724000,0.598000,0.457000

## Problem 2

In [77]:
file_path = 'data2.txt'
data2_file = open(file_path, 'r')
first_lines = data2_file.read(1000)
print(first_lines)
data2_file.close()

"Source: The World Happiness Report (2018), The Sustainable Development Solutions Network (SDSN)",,,,,,,,,,
URL: http://worldhappiness.report/ed/2018,,,,,,,,,,
Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
/The following countries comprise the "very happy" group
Finland,7.632,7.695,7.569,2.595,1.305,1.592,0.874,0.681,0.192,0.393
Norway,7.594,7.657,7.530,2.383,1.456,1.582,0.861,0.686,0.286,0.340
Denmark,7.555,7.623,7.487,2.370,1.351,1.590,0.868,0.683,0.284,0.408
Iceland,7.495,7.593,7.398,2.426,1.343,1.644,0.914,0.677,0.353,0.138
Switzerland,7.487,7.570,7.405,2.320,1.420,1.549,0.927,0.660,0.256,0.357
Netherlands,7.441,7.498,7.384,2.448,1.361,1.488,0.878,0.638,0.333,0.295
Canada,7.328,7.421,7.236,2.306,1.330,1.532,0.896,0.653,0.321,0.291
New Zealand,7.324,7.4

I used the same tools I used in **Problem 1** to open and display the first few lines of `data2.txt`. Similar to `data1.csv`, the first two lines contain unwanted header. In addition, it apperas there is a comment left under the column names with this character: '/' in front of the comment.

To solve this while loading the data, I'll use the following parameters for `pd.read_csv()`:
* `header` parameter to bypass the unwanted header (similar to data1.csv).
* `comment` parameter to ignore comments starting with the character '/' through out the data

In [78]:
data2 = pd.read_csv('data2.txt', header = 2, comment = '/')
data2

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,...,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.632,7.695,7.569,2.595,...,1.592,0.874,0.681,0.192,0.393
1,Norway,7.594,7.657,7.530,2.383,...,1.582,0.861,0.686,0.286,0.340
2,Denmark,7.555,7.623,7.487,2.370,...,1.590,0.868,0.683,0.284,0.408
3,Iceland,7.495,7.593,7.398,2.426,...,1.644,0.914,0.677,0.353,0.138
4,Switzerland,7.487,7.570,7.405,2.320,...,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...,...,...
151,Yemen,3.355,3.448,3.262,1.106,...,1.073,0.343,0.244,0.083,0.064
152,Tanzania,3.303,3.414,3.193,0.628,...,0.991,0.381,0.481,0.270,0.097
153,South Sudan,3.254,3.385,3.123,1.691,...,0.608,0.177,0.112,0.224,0.106
154,Central African Republic,3.083,3.227,2.939,2.487,...,0.000,0.010,0.305,0.218,0.038
155,Burundi,2.905,3.074,2.735,1.752,...,0.627,0.145,0.065,0.149,0.076

In [126]:
data_clean.info(verbose=True)
data2.info(verbose=True)
data2.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,5.375878,5.478654,5.273090,1.922891,0.887417,1.216571,0.598026,0.456981,0.181571,0.112474
std,1.119507,1.107522,1.132544,0.513760,0.382573,0.300380,0.247925,0.162750,0.098805,0.096362
min,2.905000,3.074000,2.735000,0.292000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.453750,4.589750,4.344750,1.654250,0.616250,1.076750,0.422250,0.358250,0.109500,0.051000
50%,5.378000,5.477500,5.284500,1.908500,0.949500,1.261500,0.644000,0.494000,0.174000,0.082000
75%,6.168500,6.260000,6.051250,2.270250,1.197750,1.463000,0.777250,0.580000,0.242250,0.139000
max,7.632000,7.695000,7.569000,2.961000,1.649000,1.644000,1.030000,0.724000,0.598000,0.457000

## Problem 3

In [80]:
file_path = 'data3.txt'
data3_file = open(file_path, 'r')
first_lines = data3_file.read(1000)
print(first_lines)
data3_file.close()

"Source: The World Happiness Report (2018), The Sustainable Development Solutions Network (SDSN)"
URL: http://worldhappiness.report/ed/2018
Country	Happiness score	Whisker-high	Whisker-low	Dystopia (1.92) + residual	Explained by: GDP per capita	Explained by: Social support	Explained by: Healthy life expectancy	Explained by: Freedom to make life choices	Explained by: Generosity	Explained by: Perceptions of corruption
Finland	7.632	7.695	7.569	2.595	1.305	1.592	0.874	0.681	0.192	0.393
Norway	7.594	7.657	7.53	2.383	1.456	1.582	0.861	0.686	0.286	0.34
Denmark	7.555	7.623	7.487	2.37	1.351	1.59	0.868	0.683	0.284	0.408
Iceland	7.495	7.593	7.398	2.426	1.343	1.644	0.914	0.677	0.353	0.138
Switzerland	7.487	7.57	7.405	2.32	1.42	1.549	0.927	0.66	0.256	0.357
Netherlands	7.441	7.498	7.384	2.448	1.361	1.488	0.878	0.638	0.333	0.295
Canada	7.328	7.421	7.236	2.306	1.33	1.532	0.896	0.653	0.321	0.291
New Zealand	7.324	7.401	7.247	2.156	1.268	1.601	0.876	0.669	0.365	0.389
Sweden	7.314	7.

I used the same tools I used in the previous problems to open and display the first few lines of `data3.txt`. Similar to `data1.csv` and `data2.txt`, the first two lines contain unwanted header. Additionally, the data is delimited by tabs rather than commas as seen in `data1.csv` and `data2.txt`.

To solve this while loading the data, I'll use the following parameters for `pd.read_csv()`:
* `header` parameter to bypass the unwanted header (similar to the previous datasets).
* `sep` parameter to load the text-based data file with delimiters other than commas. In this case, to load tab-delimited data, I will use `sep='\t'`.

In [81]:
data3 = pd.read_csv('data3.txt', header = 2, sep ='\t')
data3

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,...,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.632,7.695,7.569,2.595,...,1.592,0.874,0.681,0.192,0.393
1,Norway,7.594,7.657,7.530,2.383,...,1.582,0.861,0.686,0.286,0.340
2,Denmark,7.555,7.623,7.487,2.370,...,1.590,0.868,0.683,0.284,0.408
3,Iceland,7.495,7.593,7.398,2.426,...,1.644,0.914,0.677,0.353,0.138
4,Switzerland,7.487,7.570,7.405,2.320,...,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...,...,...
151,Yemen,3.355,3.448,3.262,1.106,...,1.073,0.343,0.244,0.083,0.064
152,Tanzania,3.303,3.414,3.193,0.628,...,0.991,0.381,0.481,0.270,0.097
153,South Sudan,3.254,3.385,3.123,1.691,...,0.608,0.177,0.112,0.224,0.106
154,Central African Republic,3.083,3.227,2.939,2.487,...,0.000,0.010,0.305,0.218,0.038
155,Burundi,2.905,3.074,2.735,1.752,...,0.627,0.145,0.065,0.149,0.076

In [127]:
data_clean.info(verbose=True)
data3.info(verbose=True)
data3.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,5.375878,5.478654,5.273090,1.922891,0.887417,1.216571,0.598026,0.456981,0.181571,0.112474
std,1.119507,1.107522,1.132544,0.513760,0.382573,0.300380,0.247925,0.162750,0.098805,0.096362
min,2.905000,3.074000,2.735000,0.292000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.453750,4.589750,4.344750,1.654250,0.616250,1.076750,0.422250,0.358250,0.109500,0.051000
50%,5.378000,5.477500,5.284500,1.908500,0.949500,1.261500,0.644000,0.494000,0.174000,0.082000
75%,6.168500,6.260000,6.051250,2.270250,1.197750,1.463000,0.777250,0.580000,0.242250,0.139000
max,7.632000,7.695000,7.569000,2.961000,1.649000,1.644000,1.030000,0.724000,0.598000,0.457000

## Problem 4

In [83]:
file_path = 'data4.txt'
data4_file = open(file_path, 'r')
first_lines = data4_file.read(1000)
print(first_lines)
data4_file.close()

Finland$7.632$7.695$7.569$2.595$1.305$1.592$0.874$0.681$0.192$0.393
Norway$7.594$7.657$7.530$2.383$1.456$1.582$0.861$0.686$0.286$0.340
Denmark$7.555$7.623$7.487$2.370$1.351$1.590$0.868$0.683$0.284$0.408
Iceland$7.495$7.593$7.398$2.426$1.343$1.644$0.914$0.677$0.353$0.138
Switzerland$7.487$7.570$7.405$2.320$1.420$1.549$0.927$0.660$0.256$0.357
Netherlands$7.441$7.498$7.384$2.448$1.361$1.488$0.878$0.638$0.333$0.295
Canada$7.328$7.421$7.236$2.306$1.330$1.532$0.896$0.653$0.321$0.291
New Zealand$7.324$7.401$7.247$2.156$1.268$1.601$0.876$0.669$0.365$0.389
Sweden$7.314$7.388$7.241$2.217$1.355$1.501$0.913$0.659$0.285$0.383
Australia$7.272$7.358$7.186$2.139$1.340$1.573$0.910$0.647$0.361$0.302
Israel$7.190$7.257$7.123$2.817$1.244$1.433$0.888$0.464$0.262$0.082
Austria$7.139$7.209$7.069$2.319$1.341$1.504$0.891$0.617$0.242$0.224
Costa Rica$7.072$7.160$6.983$2.911$1.010$1.459$0.817$0.632$0.143$0.101
Ireland$6.977$7.055$6.900$1.844$1.448$1.583$0.876$0.614$0.307$0.306
Germany$6.965$7.024$6.905$2.151$1.3

I used the same tools I used in the previous problems to open and display the first few lines of `data4.txt`. From observing the output, it appears that this dataset file is missing column names in its header. In addition, it appears that data is sperated by this delimiter `$`.

To solve this while loading the data, I can use the following parameters:
* `names` with a list of the column labels/names provided in this lab: `column_names`.
* `sep` parameter to load the data file with delimiters other than commas. In this case, to load data delited with `$`, I will use `sep='$'`.

In [84]:
data4 = pd.read_csv('data4.txt', names=column_names, sep='$')
data4

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,...,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.632,7.695,7.569,2.595,...,1.592,0.874,0.681,0.192,0.393
1,Norway,7.594,7.657,7.530,2.383,...,1.582,0.861,0.686,0.286,0.340
2,Denmark,7.555,7.623,7.487,2.370,...,1.590,0.868,0.683,0.284,0.408
3,Iceland,7.495,7.593,7.398,2.426,...,1.644,0.914,0.677,0.353,0.138
4,Switzerland,7.487,7.570,7.405,2.320,...,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...,...,...
151,Yemen,3.355,3.448,3.262,1.106,...,1.073,0.343,0.244,0.083,0.064
152,Tanzania,3.303,3.414,3.193,0.628,...,0.991,0.381,0.481,0.270,0.097
153,South Sudan,3.254,3.385,3.123,1.691,...,0.608,0.177,0.112,0.224,0.106
154,Central African Republic,3.083,3.227,2.939,2.487,...,0.000,0.010,0.305,0.218,0.038
155,Burundi,2.905,3.074,2.735,1.752,...,0.627,0.145,0.065,0.149,0.076

In [128]:
data_clean.info(verbose=True)
data4.info(verbose=True)
data4.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,5.375878,5.478654,5.273090,1.922891,0.887417,1.216571,0.598026,0.456981,0.181571,0.112474
std,1.119507,1.107522,1.132544,0.513760,0.382573,0.300380,0.247925,0.162750,0.098805,0.096362
min,2.905000,3.074000,2.735000,0.292000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.453750,4.589750,4.344750,1.654250,0.616250,1.076750,0.422250,0.358250,0.109500,0.051000
50%,5.378000,5.477500,5.284500,1.908500,0.949500,1.261500,0.644000,0.494000,0.174000,0.082000
75%,6.168500,6.260000,6.051250,2.270250,1.197750,1.463000,0.777250,0.580000,0.242250,0.139000
max,7.632000,7.695000,7.569000,2.961000,1.649000,1.644000,1.030000,0.724000,0.598000,0.457000

## Problem 5

In [86]:
file_path = 'data5.csv'
data5_file = open(file_path, 'r')
first_lines = data5_file.read(1000)
print(first_lines)
data5_file.close()

Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
Finland,7.632,7.695,7.569,2.595,1.305,1.592,0.874,0.681,0.192,0.393
Norway,7.594,7.657,7.530,2.383,1.456,1.582,0.861,0.686,0.286,0.340
Denmark,7.555,7.623,7.487,2.370,1.351,1.590,0.868,0.683,0.284,0.408
Iceland,7.495,7.593,7.398,2.426,1.343,1.644,0.914,0.677,0.353,0.138
Switzerland,7.487,7.570,7.405,2.320,1.420,1.549,0.927,0.660,0.256,0.357
Netherlands,7.441,7.498,7.384,2.448,1.361,1.488,0.878,0.638,0.333,0.295
Canada,7.328,7.421,7.236,2.306,1.330,1.532,0.896,0.653,0.321,0.291
New Zealand,7.324,7.401,7.247,2.156,1.268,1.601,0.876,0.669,0.365,0.389
Sweden,7.314,7.388,7.241,2.217,1.355,1.501,0.913,0.659,0.285,0.383
Australia,7.272,7.358,7.186,2.139,1.340,1.573,0.910,0.647,0.361,0.302
Israel,7.190,7.257,7.123,2.81

In [87]:
pd.set_option('display.max_columns', 10) #display a maximumn of 10 columns
pd.set_option('display.max_rows', 10)    #display a maximumn of 10 rows

In [88]:
data5= pd.read_csv('data5.csv')
data5

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,...,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.632,7.695,7.569,2.595,...,1.592,0.874,0.681,0.192,0.393
1,Norway,7.594,7.657,7.530,2.383,...,1.582,0.861,0.686,0.286,0.340
2,Denmark,7.555,7.623,7.487,2.370,...,1.590,0.868,0.683,0.284,0.408
3,Iceland,7.495,7.593,7.398,2.426,...,1.644,0.914,0.677,0.353,0.138
4,Switzerland,7.487,7.570,7.405,2.320,...,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...,...,...
153,South Sudan,3.254,3.385,3.123,1.691,...,0.608,0.177,0.112,0.224,0.106
154,Central African Republic,3.083,3.227,2.939,2.487,...,0.000,0.010,0.305,0.218,0.038
155,Burundi,2.905,3.074,2.735,1.752,...,0.627,0.145,0.065,0.149,0.076
156,"Source: The World Happiness Report (2018), The...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
157,URL: http://worldhappiness.report/ed/2018,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN

I used the same tools I used in the previous problems to open and display the first few lines of `data5.csv`. However, the format of the output looks correct. To further investigate the dataset for correctness, I loaded it into a data frame using `pandas` and called the data frame to display first 5 rows and last 5 rows. From observing the output, it appears that this dataset file contain source and URL information in the last two rows.

After reading documenation on panda's `read_csv` parameters, I learned of the `skipfooter` which I'll use to solve this while loading the data. `skipfooter` takes the number of lines at the bottom of the file to skip, in this case it's 2.

In [89]:
data5 = pd.read_csv('data5.csv', skipfooter = 2)
data5

/var/folders/c9/9dpn8j8s2cb5mjl9rjm_s0k00000gn/T/ipykernel_35385/2805917392.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  data5 = pd.read_csv('data5.csv', skipfooter = 2)

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,...,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.632,7.695,7.569,2.595,...,1.592,0.874,0.681,0.192,0.393
1,Norway,7.594,7.657,7.530,2.383,...,1.582,0.861,0.686,0.286,0.340
2,Denmark,7.555,7.623,7.487,2.370,...,1.590,0.868,0.683,0.284,0.408
3,Iceland,7.495,7.593,7.398,2.426,...,1.644,0.914,0.677,0.353,0.138
4,Switzerland,7.487,7.570,7.405,2.320,...,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...,...,...
151,Yemen,3.355,3.448,3.262,1.106,...,1.073,0.343,0.244,0.083,0.064
152,Tanzania,3.303,3.414,3.193,0.628,...,0.991,0.381,0.481,0.270,0.097
153,South Sudan,3.254,3.385,3.123,1.691,...,0.608,0.177,0.112,0.224,0.106
154,Central African Republic,3.083,3.227,2.939,2.487,...,0.000,0.010,0.305,0.218,0.038
155,Burundi,2.905,3.074,2.735,1.752,...,0.627,0.145,0.065,0.149,0.076

In [129]:
data_clean.info(verbose=True)
data5.info(verbose=True)
data5.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,5.375878,5.478654,5.273090,1.922891,0.887417,1.216571,0.598026,0.456981,0.181571,0.112474
std,1.119507,1.107522,1.132544,0.513760,0.382573,0.300380,0.247925,0.162750,0.098805,0.096362
min,2.905000,3.074000,2.735000,0.292000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.453750,4.589750,4.344750,1.654250,0.616250,1.076750,0.422250,0.358250,0.109500,0.051000
50%,5.378000,5.477500,5.284500,1.908500,0.949500,1.261500,0.644000,0.494000,0.174000,0.082000
75%,6.168500,6.260000,6.051250,2.270250,1.197750,1.463000,0.777250,0.580000,0.242250,0.139000
max,7.632000,7.695000,7.569000,2.961000,1.649000,1.644000,1.030000,0.724000,0.598000,0.457000

## Problem 6

In [91]:
file_path = 'data6.dat'
data6_file = open(file_path, 'r')
first_lines = data6_file.read(1000)
print(first_lines)
data6_file.close()

Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
Finland,7.632,7.695,7.569,2.595,999,999,999,0.681,0.192,0.393
Norway,7.594,7.657,7.53,999,999,1.582,999,0.686,0.286,0.34
Denmark,7.555,7.623,7.487,2.37,1.351,1.59,999,0.683,0.284,0.408
Iceland,7.495,7.593,999,2.426,1.343,1.644,0.914,0.677,0.353,999
Switzerland,7.487,7.57,7.405,2.32,1.42,1.549,0.927,0.66,0.256,0.357
Netherlands,7.441,7.498,7.384,2.448,1.361,1.488,0.878,0.638,0.333,999
Canada,7.328,7.421,7.236,2.306,1.33,1.532,0.896,0.653,0.321,0.291
New Zealand,7.324,7.401,7.247,999,1.268,1.601,0.876,0.669,0.365,0.389
Sweden,7.314,7.388,7.241,2.217,1.355,1.501,0.913,0.659,999,0.383
Australia,7.272,999,7.186,2.139,1.34,1.573,0.91,0.647,0.361,0.302
Israel,7.19,7.257,7.123,2.817,1.244,999,0.888,0.464,0.262,0.082
Au

In [92]:
data6 = pd.read_csv('data6.dat')
data6

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,...,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.632,7.695,7.569,2.595,...,999.000,999.000,0.681,0.192,0.393
1,Norway,7.594,7.657,7.530,999.000,...,1.582,999.000,0.686,0.286,0.340
2,Denmark,7.555,7.623,7.487,2.370,...,1.590,999.000,0.683,0.284,0.408
3,Iceland,7.495,7.593,999.000,2.426,...,1.644,0.914,0.677,0.353,999.000
4,Switzerland,7.487,7.570,7.405,2.320,...,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...,...,...
151,999,3.355,3.448,3.262,1.106,...,1.073,0.343,0.244,999.000,0.064
152,Tanzania,999.000,999.000,3.193,0.628,...,0.991,0.381,0.481,0.270,0.097
153,South Sudan,3.254,999.000,3.123,1.691,...,999.000,0.177,0.112,0.224,0.106
154,Central African Republic,3.083,3.227,2.939,2.487,...,0.000,0.010,0.305,999.000,0.038
155,Burundi,2.905,3.074,999.000,1.752,...,999.000,0.145,0.065,0.149,0.076

I used the same tools I used in the previous problems to open and display the first few lines of `data6.dat` and to further investigate the dataset for correctness, I loaded it into a data frame using `pandas` and called the data frame to display first 5 rows and last 5 rows. From observing the output, it appears that the number 999 is used throughout the dataset. I think it is safe to assuem it is used to represent missing data.

To solve this, I can read these values as missing as I load the data using the `na_values` parameter.

In [93]:
data6 = pd.read_csv('data6.dat', na_values = 999)
data6

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,...,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.632,7.695,7.569,2.595,...,NaN,NaN,0.681,0.192,0.393
1,Norway,7.594,7.657,7.530,NaN,...,1.582,NaN,0.686,0.286,0.340
2,Denmark,7.555,7.623,7.487,2.370,...,1.590,NaN,0.683,0.284,0.408
3,Iceland,7.495,7.593,NaN,2.426,...,1.644,0.914,0.677,0.353,NaN
4,Switzerland,7.487,7.570,7.405,2.320,...,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...,...,...
151,NaN,3.355,3.448,3.262,1.106,...,1.073,0.343,0.244,NaN,0.064
152,Tanzania,NaN,NaN,3.193,0.628,...,0.991,0.381,0.481,0.270,0.097
153,South Sudan,3.254,NaN,3.123,1.691,...,NaN,0.177,0.112,0.224,0.106
154,Central African Republic,3.083,3.227,2.939,2.487,...,0.000,0.010,0.305,NaN,0.038
155,Burundi,2.905,3.074,NaN,1.752,...,NaN,0.145,0.065,0.149,0.076

In [130]:
data_clean.info(verbose=True)
data6.info(verbose=True)
data6.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     145 non-null    object
 1   Happiness score                             142 non-null    float64
 2   Whisker-high                                135 non-null    float64
 3   Whisker-low                                 136 non-null    float64
 4   Dystopia (1.92) + residual                  145 non-null    float64
 5   Explained by: GDP per capita                137 non-null    float64
 6   Explained by: Social support                134 non-null    float64
 7   Explained by: Healthy life expectancy       142 non-null    float64
 8   Explained by: Freedom to make life choices  140 non-null    float64
 9   Explained by: Generosity                    145 non-null    float64
 10  Explained by: Perceptions of corruption     143 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
count,142.000000,135.000000,136.000000,145.000000,137.000000,134.000000,142.000000,140.000000,145.000000,143.000000
mean,5.459296,5.501526,5.345412,1.922241,0.900577,1.226739,0.590803,0.455450,0.182517,0.113035
std,1.120187,1.104762,1.134021,0.514837,0.374956,0.298752,0.250350,0.164153,0.100044,0.098350
min,2.905000,3.074000,2.939000,0.292000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.467000,4.628000,4.402250,1.659000,0.657000,1.089500,0.407250,0.355750,0.110000,0.050500
50%,5.514000,5.450000,5.389500,1.918000,0.965000,1.284500,0.637000,0.480000,0.173000,0.082000
75%,6.297500,6.307000,6.170500,2.269000,1.197000,1.467500,0.771750,0.580750,0.243000,0.139000
max,7.632000,7.695000,7.569000,2.961000,1.649000,1.644000,1.030000,0.724000,0.598000,0.457000

## Problem 7

I used the `read_excel()` funcation from `pandas` and used the parameter `sheet_name` to specify which sheet I want to load (which is `Data` in this case). I ran into an error and learned that I was missing a dependency and I needed to install the 'openpyxl' package in order to use `read_excel()`.

In [95]:
data7 = pd.read_excel('data7.xlsx', sheet_name='Data')
data7

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,...,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.632,7.695,7.569,2.595,...,1.592,0.874,0.681,0.192,0.393
1,Norway,7.594,7.657,7.530,2.383,...,1.582,0.861,0.686,0.286,0.340
2,Denmark,7.555,7.623,7.487,2.370,...,1.590,0.868,0.683,0.284,0.408
3,Iceland,7.495,7.593,7.398,2.426,...,1.644,0.914,0.677,0.353,0.138
4,Switzerland,7.487,7.570,7.405,2.320,...,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...,...,...
151,Yemen,3.355,3.448,3.262,1.106,...,1.073,0.343,0.244,0.083,0.064
152,Tanzania,3.303,3.414,3.193,0.628,...,0.991,0.381,0.481,0.270,0.097
153,South Sudan,3.254,3.385,3.123,1.691,...,0.608,0.177,0.112,0.224,0.106
154,Central African Republic,3.083,3.227,2.939,2.487,...,0.000,0.010,0.305,0.218,0.038
155,Burundi,2.905,3.074,2.735,1.752,...,0.627,0.145,0.065,0.149,0.076

In [96]:
data_clean.info(verbose=True)
data7.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

## Problem 8

The `.dta` means the file is a Stata file and I can use the`pd.read_stata()` function and see if the data loads correctly.

In [18]:
data8 = pd.read_stata('data8.dta')
data8

,country,happinessscore,whiskerhigh,whiskerlow,dystopia192residual,...,explainedbysocialsupport,explainedbyhealthylifeexpectancy,explainedbyfreedomtomakelifechoi,explainedbygenerosity,explainedbyperceptionsofcorrupti
0,Finland,7.632,7.695,7.569,2.595,...,1.592,0.874,0.681,0.192,0.393
1,Norway,7.594,7.657,7.530,2.383,...,1.582,0.861,0.686,0.286,0.340
2,Denmark,7.555,7.623,7.487,2.370,...,1.590,0.868,0.683,0.284,0.408
3,Iceland,7.495,7.593,7.398,2.426,...,1.644,0.914,0.677,0.353,0.138
4,Switzerland,7.487,7.570,7.405,2.320,...,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...,...,...
151,Yemen,3.355,3.448,3.262,1.106,...,1.073,0.343,0.244,0.083,0.064
152,Tanzania,3.303,3.414,3.193,0.628,...,0.991,0.381,0.481,0.270,0.097
153,South Sudan,3.254,3.385,3.123,1.691,...,0.608,0.177,0.112,0.224,0.106
154,Central African Republic,3.083,3.227,2.939,2.487,...,0.000,0.010,0.305,0.218,0.038
155,Burundi,2.905,3.074,2.735,1.752,...,0.627,0.145,0.065,0.149,0.076

The column names/labels are slightly different compared to `data_clean`. The rest of the data looks like it was loaded correctly when compared to `data_clean`.

In [131]:
data_clean.info(verbose=True)
data8.info(verbose=True)
data8.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   country                           156 non-null    object
 1   happinessscore                    156 non-null    float32
 2   whiskerhigh                       156 non-null    float32
 3   whiskerlow                        156 non-null    float32
 4   dystopia192residual               156 non-null    float32
 5   explainedbygdppercapita           156 non-null    float32
 6   explainedbysocialsupport          156 non-null    float32
 7   explainedbyhealthylifeexpectancy  156 non-null    float32
 8   explainedbyfreedomtomakelifechoi  156 non-null    float32
 9   explainedbygenerosity             156 non-null    float32
 10  explainedbyperceptionsofcorrupti  156 non-null    float32
dtypes: float32(10), object(1)
memory usage: 7.4+ KB

,happinessscore,whiskerhigh,whiskerlow,dystopia192residual,explainedbygdppercapita,explainedbysocialsupport,explainedbyhealthylifeexpectancy,explainedbyfreedomtomakelifechoi,explainedbygenerosity,explainedbyperceptionsofcorrupti
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.00000,156.000000,156.000000,156.000000,156.000000
mean,5.375878,5.478654,5.273089,1.922891,0.887417,1.21657,0.598026,0.456981,0.181571,0.112474
std,1.119507,1.107522,1.132544,0.513760,0.382573,0.30038,0.247925,0.162750,0.098805,0.096362
min,2.905000,3.074000,2.735000,0.292000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
25%,4.453750,4.589750,4.344750,1.654250,0.616250,1.07675,0.422250,0.358250,0.109500,0.051000
50%,5.378000,5.477500,5.284500,1.908500,0.949500,1.26150,0.644000,0.494000,0.174000,0.082000
75%,6.168500,6.260000,6.051250,2.270250,1.197750,1.46300,0.777250,0.580000,0.242250,0.139000
max,7.632000,7.695000,7.569000,2.961000,1.649000,1.64400,1.030000,0.724000,0.598000,0.457000

## Problem 9

I will use `pd.read_spss()` to load `data9.sav`.

In [98]:
data9 = pd.read_spss('data9.sav')
data9

,country,happiness,whiskerhigh,whiskerlow,dystopia,...,socsupport,lifeexp,lifechoice,generous,corrupt
0,Finland,7.632,7.695,7.569,2.595,...,1.592,0.874,0.681,0.192,0.393
1,Norway,7.594,7.657,7.530,2.383,...,1.582,0.861,0.686,0.286,0.340
2,Denmark,7.555,7.623,7.487,2.370,...,1.590,0.868,0.683,0.284,0.408
3,Iceland,7.495,7.593,7.398,2.426,...,1.644,0.914,0.677,0.353,0.138
4,Switzerland,7.487,7.570,7.405,2.320,...,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...,...,...
151,Yemen,3.355,3.448,3.262,1.106,...,1.073,0.343,0.244,0.083,0.064
152,Tanzania,3.303,3.414,3.193,0.628,...,0.991,0.381,0.481,0.270,0.097
153,South Sudan,3.254,3.385,3.123,1.691,...,0.608,0.177,0.112,0.224,0.106
154,Central African Republic,3.083,3.227,2.939,2.487,...,0.000,0.010,0.305,0.218,0.038
155,Burundi,2.905,3.074,2.735,1.752,...,0.627,0.145,0.065,0.149,0.076

Similar to `data8.dta` the column names/labels are slightly different than `data_clean` but the rest of the data loaded correctly when compared to `data_clean`.

In [132]:
data_clean.info(verbose=True)
data9.info(verbose=True)
data9.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      156 non-null    object
 1   happiness    156 non-null    float64
 2   whiskerhigh  156 non-null    float64
 3   whiskerlow   156 non-null    float64
 4   dystopia     156 non-null    float64
 5   gdpPC        156 non-null    float64
 6   socsupport   156 non-null    float64
 7   lifeexp      156 non-null    float64
 8   lifechoice   156 non-null    float64
 9   generous     156 non-null    float64
 10  corrupt      156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

,happiness,whiskerhigh,whiskerlow,dystopia,gdpPC,socsupport,lifeexp,lifechoice,generous,corrupt
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,5.375878,5.478654,5.273090,1.922891,0.887417,1.216571,0.598026,0.456981,0.181571,0.112474
std,1.119507,1.107522,1.132544,0.513760,0.382573,0.300380,0.247925,0.162750,0.098805,0.096362
min,2.905000,3.074000,2.735000,0.292000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.453750,4.589750,4.344750,1.654250,0.616250,1.076750,0.422250,0.358250,0.109500,0.051000
50%,5.378000,5.477500,5.284500,1.908500,0.949500,1.261500,0.644000,0.494000,0.174000,0.082000
75%,6.168500,6.260000,6.051250,2.270250,1.197750,1.463000,0.777250,0.580000,0.242250,0.139000
max,7.632000,7.695000,7.569000,2.961000,1.649000,1.644000,1.030000,0.724000,0.598000,0.457000

## Problem 10

To load the SAS file I will use `pd.read_sas()`:

In [100]:
data10 = pd.read_sas('data10.xpt')
data10

,COUNTRY,HAPPINES,WHISKERH,WHISKERL,DYSTOPIA,...,EXPLAIN2,EXPLAIN3,EXPLAIN4,EXPLAIN5,EXPLAIN6
0,b'Finland',7.632,7.695,7.569,2.595,...,1.592000e+00,0.874,0.681,0.192,0.393
1,b'Norway',7.594,7.657,7.530,2.383,...,1.582000e+00,0.861,0.686,0.286,0.340
2,b'Denmark',7.555,7.623,7.487,2.370,...,1.590000e+00,0.868,0.683,0.284,0.408
3,b'Iceland',7.495,7.593,7.398,2.426,...,1.644000e+00,0.914,0.677,0.353,0.138
4,b'Switzerland',7.487,7.570,7.405,2.320,...,1.549000e+00,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...,...,...
151,b'Yemen',3.355,3.448,3.262,1.106,...,1.073000e+00,0.343,0.244,0.083,0.064
152,b'Tanzania',3.303,3.414,3.193,0.628,...,9.910000e-01,0.381,0.481,0.270,0.097
153,b'South Sudan',3.254,3.385,3.123,1.691,...,6.080000e-01,0.177,0.112,0.224,0.106
154,b'Central African Republic',3.083,3.227,2.939,2.487,...,5.397605e-79,0.010,0.305,0.218,0.038
155,b'Burundi',2.905,3.074,2.735,1.752,...,6.270000e-01,0.145,0.065,0.149,0.076

Similar to `data8.dta` and `data9.csv` the column names/labels are slightly different than `data_clean` but the rest of the data loaded correctly when compared to `data_clean`.

In [133]:
data_clean.info(verbose=True)
data10.info(verbose=True)
data10.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   COUNTRY   156 non-null    object
 1   HAPPINES  156 non-null    float64
 2   WHISKERH  156 non-null    float64
 3   WHISKERL  156 non-null    float64
 4   DYSTOPIA  156 non-null    float64
 5   EXPLAINE  156 non-null    float64
 6   EXPLAIN2  156 non-null    float64
 7   EXPLAIN3  156 non-null    float64
 8   EXPLAIN4  156 non-null    float64
 9   EXPLAIN5  156 non-null    float64
 10  EXPLAIN6  156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

,HAPPINES,WHISKERH,WHISKERL,DYSTOPIA,EXPLAINE,EXPLAIN2,EXPLAIN3,EXPLAIN4,EXPLAIN5,EXPLAIN6
count,156.000000,156.000000,156.000000,156.000000,1.560000e+02,1.560000e+02,1.560000e+02,1.560000e+02,1.560000e+02,1.560000e+02
mean,5.375878,5.478654,5.273090,1.922891,8.874167e-01,1.216571e+00,5.980256e-01,4.569808e-01,1.815705e-01,1.124744e-01
std,1.119507,1.107522,1.132544,0.513760,3.825727e-01,3.003804e-01,2.479247e-01,1.627499e-01,9.880460e-02,9.636232e-02
min,2.905000,3.074000,2.735000,0.292000,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79
25%,4.453750,4.589750,4.344750,1.654250,6.162500e-01,1.076750e+00,4.222500e-01,3.582500e-01,1.095000e-01,5.100000e-02
50%,5.378000,5.477500,5.284500,1.908500,9.495000e-01,1.261500e+00,6.440000e-01,4.940000e-01,1.740000e-01,8.200000e-02
75%,6.168500,6.260000,6.051250,2.270250,1.197750e+00,1.463000e+00,7.772500e-01,5.800000e-01,2.422500e-01,1.390000e-01
max,7.632000,7.695000,7.569000,2.961000,1.649000e+00,1.644000e+00,1.030000e+00,7.240000e-01,5.980000e-01,4.570000e-01

## Problem 11
| Variable                                   | Width | Start | End |
|--------------------------------------------|-------|-------|-----|
| Country                                    | 24    | 1     | 24  |
| Happiness score                            | 5     | 25    | 29  |
| Whisker-high                               | 5     | 30    | 34  |
| Whisker-low                                | 5     | 35    | 39  |
| Dystopia (1.92) + residual                 | 5     | 40    | 44  |
| Explained by: GDP per capita               | 5     | 45    | 49  |
| Explained by: Social support               | 5     | 50    | 54  |
| Explained by: Healthy life expectancy      | 5     | 55    | 59  |
| Explained by: Freedom to make life choices | 5     | 60    | 64  |
| Explained by: Generosity                   | 5     | 65    | 69  |
| Explained by: Perceptions of corruption    | 5     | 70    | 74  |

In [104]:
datanames = column_names
datawidths = [24, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]

I created a list `datanames` and set it equal to the `column_names` provided. Next, I created another list `datawidths` for the width of each variable in `datanames`.
To load the fixed-width data, I will use `pd.read_fwf()` and specify the names of the columns and their widths with the lists I created.

In [105]:
data11 = pd.read_fwf('data11.txt', widths=datawidths, names=datanames)
data11

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,...,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.632,7.695,7.569,2.595,...,1.592,0.874,0.681,0.192,0.393
1,Norway,7.594,7.657,7.530,2.383,...,1.582,0.861,0.686,0.286,0.340
2,Denmark,7.555,7.623,7.487,2.370,...,1.590,0.868,0.683,0.284,0.408
3,Iceland,7.495,7.593,7.398,2.426,...,1.644,0.914,0.677,0.353,0.138
4,Switzerland,7.487,7.570,7.405,2.320,...,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...,...,...
151,Yemen,3.355,3.448,3.262,1.106,...,1.073,0.343,0.244,0.083,0.064
152,Tanzania,3.303,3.414,3.193,0.628,...,0.991,0.381,0.481,0.270,0.097
153,South Sudan,3.254,3.385,3.123,1.691,...,0.608,0.177,0.112,0.224,0.106
154,Central African Republic,3.083,3.227,2.939,2.487,...,0.000,0.010,0.305,0.218,0.038
155,Burundi,2.905,3.074,2.735,1.752,...,0.627,0.145,0.065,0.149,0.076

In [134]:
data_clean.info(verbose=True)
data11.info(verbose=True)
data11.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,5.375878,5.478654,5.273090,1.922891,0.887417,1.216571,0.598026,0.456981,0.181571,0.112474
std,1.119507,1.107522,1.132544,0.513760,0.382573,0.300380,0.247925,0.162750,0.098805,0.096362
min,2.905000,3.074000,2.735000,0.292000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.453750,4.589750,4.344750,1.654250,0.616250,1.076750,0.422250,0.358250,0.109500,0.051000
50%,5.378000,5.477500,5.284500,1.908500,0.949500,1.261500,0.644000,0.494000,0.174000,0.082000
75%,6.168500,6.260000,6.051250,2.270250,1.197750,1.463000,0.777250,0.580000,0.242250,0.139000
max,7.632000,7.695000,7.569000,2.961000,1.649000,1.644000,1.030000,0.724000,0.598000,0.457000

To save this loaded and cleaned data frame as CSV, I will use the `to_csv()` method and specify the s`sep` parameter as a comma. Also, I used the parameter `index=False` to exclude the DataFrame's index from the CSV file.

In [107]:
data11.to_csv('data11_cleaned.csv', sep=',', index=False)

In [108]:
data11_cleaned = pd.read_csv('data11_cleaned.csv')
data11_cleaned

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,...,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.632,7.695,7.569,2.595,...,1.592,0.874,0.681,0.192,0.393
1,Norway,7.594,7.657,7.530,2.383,...,1.582,0.861,0.686,0.286,0.340
2,Denmark,7.555,7.623,7.487,2.370,...,1.590,0.868,0.683,0.284,0.408
3,Iceland,7.495,7.593,7.398,2.426,...,1.644,0.914,0.677,0.353,0.138
4,Switzerland,7.487,7.570,7.405,2.320,...,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...,...,...
151,Yemen,3.355,3.448,3.262,1.106,...,1.073,0.343,0.244,0.083,0.064
152,Tanzania,3.303,3.414,3.193,0.628,...,0.991,0.381,0.481,0.270,0.097
153,South Sudan,3.254,3.385,3.123,1.691,...,0.608,0.177,0.112,0.224,0.106
154,Central African Republic,3.083,3.227,2.939,2.487,...,0.000,0.010,0.305,0.218,0.038
155,Burundi,2.905,3.074,2.735,1.752,...,0.627,0.145,0.065,0.149,0.076

In [109]:
os.chdir(oldpath)