In [16]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
import requests
import plotly
from bson import dumps, loads
from bs4 import BeautifulSoup

In [2]:
np.log(5)

np.float64(1.6094379124341003)

In [3]:
1 + 1

2

In [4]:
2 + 5

7

I will now take the square root of 9

In [5]:
import math
math.sqrt(9)

3.0

I just took the square root of 9 and it is 3.

In [6]:
virginia_gdp = 508662000000

In [7]:
virginia_gdp/8001024

63574.61244960645

# Title: The University of Virginia

## Section: Introduction

The **University of Virginia** (U.Va or UVA) is a public research university in [Charlottesville, Virginia](https://en.wikipedia.org/wiki/Charlottesville,_Virginia). It was founder in 1819 bu Uniter States *Declaration of Independence* author Thomas Jefferson.

![](https://news.virginia.edu/sites/default/files/article_image/Rotunda_Copper_Dome_UTDA%5B1%5D_0.jpg)

It is the flagship university of Virginia and home to Jefferson's Academical Village, a UNESCO World Heritage Site. UVA is known for its historic foundations, student-run honor code and ~~secret socities~~ championship basketball.

### Subsection: Founders

The original governing Board of Visitors included Jefferson, James Madison, and James Monroe who once said
> The best form of government is that which is most likely to prevent the greatest sum of evil.

Monroe was the sitting President of the United States at the time of its foundation and earlier Presidents Jefferson and Madison were UVA's first two rectors.

### Subsection: History

Jefferson conceived and designed the original courses of study and original architecture. UVA was the first university of the American South elected to the research-driven Association of American Universities in 1904. More than a century later, the journal Science credited UVA faculty with two of the top ten global scientific breakthroughs of 2015. The University of Virginia, along with the University at Buffalo, are the only two colleges founded by United States Presidents.

* item 1
* item 2
  * item 2a
  * item 2b
    * item 2b, part 1
    * item 2b, part 2
* item 3

Next I will discuss the `pd.read_csv()` function

```import math```

```math.sqrt(9)```

$$ x=\frac{-b \pm \sqrt{b^2 - 4ac}}{2a}$$

| Day       | High Temp | Low Temp |
|-----------|-----------|----------|
| Monday    | 93        | 79       |
| Tuesday   | 88        | 73       |
| Wednesday | 76        | 67       |
| Thursday  | 89        | 84       |
| Friday    | 101       | 82       |
| Saturday  | 96        | 80       |
| Sunday    | 85        | 72       |

# My faviorate math functions in Python

* The natural logarithm *ln(x)* is `math.log(x)`
    * The log base 10 $log_{10}(x)$, is `math.log10(x)`
    * The log base a, $log_{a}(x)$, is `math.log(x, a)`
* Trigomometric functions:
| Function | Mathematical notation |    Python code    |
|----------|-----------------------|-------------------|
| Sine     | ùë†ùëñùëõ(ùúÉ)                 | `math.sin(theta)` |
| Cosine   | coùë†ùëñùëõ(ùúÉ)               | `math.cos(theta)` |
| Tangent  | tan(ùúÉ)                | `math.tan(theta)` |

* $\pi$ rounded to ten decimal places:

    ```round(math.pi, 10)```

In [12]:
my_string = "We hold these truths to be self-evident, that all men are created equal, that they are endowed by their Creator with certain unalienable Rights, that among these are Life, Liberty and the pursuit of Happiness."
len(my_string)

209

In [22]:
my_dict = {'day': ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
         'high_temp': [87, 80, 91, 102, 92, 86, 78],
         'low_temp': [74, 68, 78, 85, 81, 72, 61]}
my_dataframe = pd.DataFrame(my_dict)
my_dataframe

         day  high_temp  low_temp
0     Sunday         87        74
1     Monday         80        68
2    Tuesday         91        78
3  Wednesday        102        85
4   Thursday         92        81
5     Friday         86        72
6   Saturday         78        61

In [21]:
my_dataframe.describe(include='all')

           day   high_temp   low_temp
count        7    7.000000   7.000000
unique       7         NaN        NaN
top     Sunday         NaN        NaN
freq         1         NaN        NaN
mean       NaN   88.000000  74.142857
std        NaN    8.062258   8.112307
min        NaN   78.000000  61.000000
25%        NaN   83.000000  70.000000
50%        NaN   87.000000  74.000000
75%        NaN   91.500000  79.500000
max        NaN  102.000000  85.000000

In [23]:
my_dataframe.dtypes

day          object
high_temp     int64
low_temp      int64
dtype: object

In [19]:
star_wars = { 'episodes': ['Episode IV', 'Episode V', 'Episode VI', 'Episode I', 'Episode II', 'Episode III', 'Episode VII', 'S1', 'Episode VIII', 'S2', 'Episode IX'],
             'titles': [('Episode IV', 'A New Hope'), ('Episode V', 'The Empire Strikes Back'), ('Episode VI', 'Return of the Jedi'), ('Episode I', 'The Phantom Menace'),
                        ('Episode II', 'Attack of the Clones'), ('Episode III', 'Revenge of the Sith'), ('Episode VII', 'The Force Awakens'), ('S1', 'Rogue One: A Star Wars Story'),
                        ('Episode VIII', 'The Last Jedi'), ('S2', 'Solo: A Star Wars Story'), ('Episode IX', 'The Rise of Skywalker')],
             'release_year': [1977, 1980, 1983, 1999, 2002, 2005, 2015, 2016, 2017, 2018, 2019] }
starwars_dataframe = pd.DataFrame(star_wars)
starwars_dataframe

        episodes                                titles  release_year
0     Episode IV              (Episode IV, A New Hope)          1977
1      Episode V  (Episode V, The Empire Strikes Back)          1980
2     Episode VI      (Episode VI, Return of the Jedi)          1983
3      Episode I       (Episode I, The Phantom Menace)          1999
4     Episode II    (Episode II, Attack of the Clones)          2002
5    Episode III    (Episode III, Revenge of the Sith)          2005
6    Episode VII      (Episode VII, The Force Awakens)          2015
7             S1    (S1, Rogue One: A Star Wars Story)          2016
8   Episode VIII         (Episode VIII, The Last Jedi)          2017
9             S2         (S2, Solo: A Star Wars Story)          2018
10    Episode IX   (Episode IX, The Rise of Skywalker)          2019

In [24]:
starwars_dataframe.head(3)

     episodes                                titles  release_year
0  Episode IV              (Episode IV, A New Hope)          1977
1   Episode V  (Episode V, The Empire Strikes Back)          1980
2  Episode VI      (Episode VI, Return of the Jedi)          1983

In [27]:
starwars_dataframe.shape

(11, 3)